In [3]:
import sqlite3
import mysql.connector
#import mySQLdb as sql
import pymysql

#connection = self.connect()
mydb = mysql.connector.connect(host="localhost", user="root", passwd="Thatoaka1", database="sqldata")
cursor=mydb.cursor()
cursor.execute("ALTER TABLE sqldata VARCHAR(50) NOT NULL")
#sql="INSERT INTO 'sqldata'(Sales),VALUES(%s
#cursor.execute()
#mydb.commit()
#sql="SELECT * FROM 'sqldata'"
#cursor.execute(sql)
#result = cursor.fetchall()
#for d in result:
 #   print(d)
#except for Error as e:
 #   print(e)
#finally:
mydb.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VARCHAR(50) NOT NULL' at line 1